<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tongji.mapper.UniversityMapper">

    <resultMap type="com.example.tongji.domain.University" id="UniversityResult">
        <id     property="id"      column="id"      />
        <result property="Province"    column="province"    />
        <result property="Name"     column="name"     />
        <result property="City"   column="city"   />
    </resultMap>

    <!--vo配置-->
    <sql id="selectConfigVo">
        SELECT id, province, name, city
        FROM statistics
    </sql>

    <!--数据库查询-->
    <select id="listU" parameterType="java.lang.String" resultMap="UniversityResult">
        <include refid="selectConfigVo"/>
        where province = #{province}
    </select>

</mapper>
